/* NPGS Climate Futures style sheet */


/*set font for all elements */

p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 25px !important;
    margin-left: 25px !important;
}

